body{
    padding: 100px;
}
.submitarea{
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.same{
    margin: 0 20px;
    color: #fff;
    padding: 10px;
    border-radius: 1rem;
}
.t1t{
    width: 589px;
}
.submitarea1{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}